<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta
        molestias laboriosam unde. Eligendi non voluptas corrupti obcaecati
        mollitia itaque aspernatur assumenda sapiente quisquam, doloremque iure
        maiores accusantium tempora incidunt quas.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi reiciendis
        ipsam cum aperiam facere a assumenda veniam quis optio provident.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus
        cum, nulla error praesentium non rem hic sunt inventore dolorem tempora
        cupiditate delectus culpa, iste quae ullam eveniet voluptates
        necessitatibus omnis tenetur qui vitae? Non, perferendis?
      </p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
